[package]
name = "shin-render"
version = "0.4.1"
edition = "2021"
description = "Common rendering utilities for the Shin engine"
repository = "https://github.com/DCNick3/shin"
license = "MPL-2.0"
authors = ["DCNick3"]

[dependencies]
shin-core = { path = "../shin-core" }

anyhow = { workspace = true }
tracing = "0.1.37"

winit = "0.28.1"
wgpu = { workspace = true }
# TODO: this can be reimplemented in shin-derive (I want to have my own traits for this anyways)
wrld = "1.0.0"

glam = { workspace = true, features = [
    # "scalar-math" disables the 16-byte alignment requirement for some types
    # this is required for bytemuck to work
    "bytemuck", "scalar-math"
] }
bytemuck = { version = "1.12.3", features = ["derive"] }

bevy_utils = "0.9.1"
once_cell = "1.17.1"
image = { workspace = true, default-features = false }
