[package]
name = "shin-core"
version = "0.3.0"
edition = "2021"
description = "Core library for the Shin engine: file formats support, virtual machine, etc"
repository = "https://github.com/DCNick3/shin"
license = "MPL-2.0"
authors = ["DCNick3"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]

# derive macros
num-traits = "0.2.15"
num-derive = "0.3.3"
shin-derive = { path = "../shin-derive" }
derive_more = "0.99.17"
enum-map = { workspace = true }
async-trait = "0.1.58"
binrw = "0.11.1"
# use when you need to debug using #[br(dbg)]
# binrw = { git = "https://github.com/jam1garner/binrw.git", rev = "3729727da6d01930a4079516c70232460682c7a8" }
strum = { version = "0.24.1", features = ["derive"] }
proc-bitfield = "0.2.2"

anyhow = { workspace = true }
bitflags = "1.3.2"
bytemuck = { version = "1.12.1", features = ["derive"] }
bytes = "1.2.1"
glam = { workspace = true }
float-ord = "0.3.2"
image = { workspace = true, default-features = false }
itertools = "0.10.5"
rayon = "1.5.3"
smallvec = "1.10.0"
tracing = "0.1.37"
smartstring = "1.0.1"
once_cell = "1.16.0"
bitvec = "1.0.1"
opus = { git = "https://github.com/DCNick3/opus-rs.git", rev = "a3de7e71b35ab0a80be38c0d2420b18f0bd41411", default-features = false, features = ["unsafe-libopus-backend"] }
# git version for align method & attribute support
bitbuffer = { git = "https://github.com/icewind1991/bitbuffer.git", rev = "80a1c7cc2204023aa554e05f258c57e79e532fe8" }
serde = { version = "1.0.130", features = ["derive"] }
serde-big-array = "0.4.1"
num-integer = "0.1.45"
chrono = { version = "0.4.23", features = ["serde"] }

[dev-dependencies]
hex = "0.4.3"
insta = "1.26.0"
rand = "0.8.5"
